@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Outfit', sans-serif;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #333333;
}

.logo img {
    width: 40px;
    height: 40px;
}

.header-container {
    margin: auto;
    padding: 10px 20px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration-line: none;
}

nav a:hover {
    color: greenyellow;
}

nav {
    display: flex;
    gap: 1.5rem;
}

#burger {
    display: none;
}

.hero {
    background-image: url(hamster1_.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4rem;
    font-size: 1.5rem;
    color: #333333;
}

main {
    color: #333333;
    padding: 8rem;
}

main section {
    max-width: 1100px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    padding: 6rem 0;
}

main section img {
    width: 50%;
    height: 50%;
}

section:nth-child(2) {
    flex-direction: row-reverse;
}

.small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
    margin: auto;
}

.small img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.small .text {
    font-size: 1rem;
}

.small section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.small section:hover {
    box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.35);
    transform: scale(1.05);
    transition: .25s ease;
}

footer {
    background-color: #333333;
    color: white;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75rem;
}

.links {
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.links a img {
    height: 30px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media (max-width: 950px) { /*media query*/
    .hero {
        justify-content: left;
        align-items: start;
        padding: 6rem 3rem;
        font-size: 3vw;
    }

    main section, section:nth-child(2), .small {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    main {
        padding: 2rem;
    }

    main section img {
        width: 100%;
    }

    .small section {
        padding: 3rem;
    }

    .small img {
        width: 80%;
        aspect-ratio: initial;
        object-fit: contain;
    }
}

@media (max-width: 600px) {
    nav {
        position: absolute;
        background-color: #fafafa;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        /* display: none; */
    }

    nav a {
        color: #333333;
        width: 100%;
        padding: 1.5rem 0;
    }

    nav a:hover {
        background-color: #333333;
    }
    
    #burger {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: fixed;
        right: 20px;
    }
    
    .line {
        background-color: white;
        width: 2rem;
        height: .125rem;
    }

    #burger:hover {
        .line {
            background-color: greenyellow;
        }
    }
}